# Database credentials
POSTGRES_USER=matchpoint
POSTGRES_PASSWORD=matchpoint
MYSQL_USER=matchpoint
MYSQL_PASSWORD=matchpoint
MYSQL_ROOT_PASSWORD=matchpointroot

# MongoDB
MONGODB_DB=penaltyrank

# RabbitMQ
RABBITMQ_DEFAULT_USER=matchpoint
RABBITMQ_DEFAULT_PASS=matchpoint

# Observability
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317
GF_SECURITY_ADMIN_PASSWORD=admin
